.cta__container {
  position: relative;

  video {
    display: none;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  @include large {
    padding:100px 80px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    
    video {
      display: block;
    }
  }
}

.title__wrapper {
  height: 100%;
  padding: 150px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url('../assets/images/poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: slideInLeft 1s ease-in-out;

  @include large {
    background-image: none;
    height: 100%;
    padding: 20px;
  }
}

.description__container {
  padding: 20px;
  margin-top: 100px;
  animation: slideInRight 1s ease-in-out;

  @include large {
    align-self: flex-end;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(89%);
    opacity: 0;
  }
}