.cta__container {
  position: relative;

  video {
    display: none;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @include large {
    video {
      display: block;
    }
  }
}

.title__wrapper {
  height: 60%;
  padding: 150px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url('../assets/images/poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include large {
    background-image: none;
  }
}

.description__container {
  height: 100%;
  padding: 20px;
  margin-top: 100px;
}