.footer {
  &__container {
    min-height: 45vh;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-around;

    @include large {
      margin: 40px;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 90px;
  }

  &__link-list-wrapper, &__socials-wrapper {
    list-style: none;
    padding: 0;

    @include large {
      width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__link-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include large {
      width: 50%;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__socials {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    &:not(:first-child) {
      margin-bottom: 15px;
    }

    &:first-child {
      margin-bottom: 20px;
    }
  }

}